<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <title>FDC | <%= title%></title>
    <link rel="icon" href="https://previews.123rf.com/images/serkorkin/serkorkin1706/serkorkin170600024/82239465-success-abstract-vector-logo-design-elements-with-star-sign-development-symbol-growth-and-start-up-c.jpg">
  </head>